.input{
    /* width: 150px; */
    height: 30px;
    left: 1140px;
    border: 1px solid #F53855;
    box-sizing: border-box;
    border-radius: 50px;
    margin: 5px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    background-color: rgb(255, 255, 255);
    padding-left: 5px;

}

.input:focus{
    background-color:white;
    outline:none;
}