.nav_bt{
    display: flex;
    align-items: center;


}

.nav_link{
    width: 53px;
    font-family: Rubik;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 19px;
    text-decoration: none;
    /* identical to box height */


    color: #0B132A;

}
