.link{
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 19px;
    text-decoration: none;
    color: #4F5665;
    margin-right: 20px;
}

.link:hover{
    color: #F53855;
    
}

.link_list{
    display: flex;
    justify-content: space-between;
    align-items: center;
    align-content: center;


}
