.container_form__user_info {
  padding: 50px 0 50px 0;
  min-height: 600px;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}
.container_form__user {
  width: 300px;
}

.form__user_info {
  
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.form__user_info label{
  margin: 5px;
}
input {
  min-width: 300px;
  height: 30px;
  border: 1px solid #f53855;
  box-sizing: border-box;
  border-radius: 50px;
  margin: 5px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  background-color: rgb(255, 255, 255);
  padding-left: 7px;
}
input:focus {
  outline: none;
}
input:hover {
  background-color: #ffecec;
}
.form__textarea {
  min-height: 50px;
}
.illustration___form__user {
  width: 50%;
}
.illustration___form__user img {
  width: 90%;
}
.container__form_btn {
  min-width: 150px;
  padding: 4px;
  height: 45px;
  border: 1px solid #f53855;
  border-radius: 50px;
  font-weight: 500;
  font-size: 16px;
  color: #f53855;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  background-color: rgb(255, 255, 255);
  margin-top: 30px;
}

.container__form_btn:hover {
  background-color: #f53855;
  box-shadow: 0px 4px 4px rgba(245, 56, 56, 0.25);
  color: rgb(255, 255, 255);
  font-weight: 700;
}
.new_select_style_wpandyou {
  border-radius: 70px;
  border: 1px solid #f53855;
  background: transparent;
  height: 34px;
  padding: 4px;
  font-size: 14px;
  line-height: 1;
  width: 268px;
  min-width: 300px;
  height: 30px;
}
.new_select_style_wpandyou:hover{
  background-color: #ffecec;
}
.new_select_style_wpandyou:focus,.new_select_style_wpandyou:active, .new_select_style_wpandyou:checked{
  border: 3px solid #f53855;
}
.options__form_btn{
  background-color: #ffecec;
}
.choose_photo__account input{
  margin: 5px;
}
.choose_photo__account{
  position: absolute;
  top: 200px;
  right: 565px;
  margin: 10px;
  display: flex;
  align-items: center;
  flex-direction: column;
}
/* input#file-upload-button{
  background-color: red;
} */
.choose_photo_inp{
  display: flex;
  align-items: center;
  width: 300px;
}
.choose_photo_inp input{
  width: 100px;
}
