.main_button{
  width: 250px;
  height: 60px;
  background-color: #F53855;
  border: 1px solid #F53855;
  border-radius: 10px;
  color: rgb(255, 255, 255);
  font-weight: 500;
  font-size: 16px;
  box-shadow: 0px 25px 60px rgba(245, 56, 56, 0.30);
  cursor: pointer;
}
.btn_circle{
  min-width: 150px;
  padding: 4px;
  height: 45px;
  border: 1px solid #F53855;
  border-radius: 50px;
  font-weight: 500;
  font-size: 16px;
  color: #F53855;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  background-color: rgb(255, 255, 255);
}

.btn_circle:hover{
  background-color: #F53855;
  box-shadow: 0px 4px 4px rgba(245, 56, 56, 0.25);
  color: rgb(255, 255, 255);
  font-weight: 700;
}

/* .primary{
  width: 250px;
  height: 60px;


}

.secondary{
  width: 150px;
  height: 35px;

} */

/* .btn_test{
  color: aliceblue;
} */
