.link{
    width: 46px;
    height: 19px;
    left: 456px;
    /* top: 58.62px; */
    font-family: Rubik;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 19px;
    text-decoration: none;
    color: #4F5665;

    margin-left: 40px;
    margin-top: 50px;
}

.link:hover{
    color: #F53855;
    
}

.link_list{
    margin-left: auto;
    margin-right: auto;
    margin-top: 60px ;
}