.container__account {
  padding: 50px 70px 50px 70px;
  min-height: 500px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.container__account h3{
  margin: 50px 50px;
  text-align: center;

}
.header_wrapper__account {
  display: flex;
  flex-direction: row;
}
.wrapper_photo__account {
  width: 50%;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.photo__account{
  margin-bottom: 30px;
}
.choose_photo_btn__account{
  width: 150px;
  height: 30px;
  background-color: #F53855;
  border: 1px solid #F53855;
  border-radius: 10px;
  color: rgb(255, 255, 255);
  font-weight: 500;
  font-size: 16px;
}
.photo__account {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.photo__account img {
  width: 40%;
}
.main_info__account {
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 30px;
}
.btn__account {
  margin-top: 30px;
 
}
.notification__infoUser{
  padding: 40px 40px;
  border: 1px solid #F53855; 
  border-radius: 70px;
  display: flex;
  margin-bottom: 30px;
  align-items: center;
}
.notification__infoUser_btn{
  margin: 0 20px;
  padding: 10px;
  min-width: 150px;
  min-height: 30px;
  background-color: #F53855;
  border: 1px solid #F53855;
  border-radius: 10px;
  color: rgb(255, 255, 255);
  font-weight: 500;
  font-size: 16px;
}
.wrapper__account{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
