.logo{

    margin-left: 190px;
    margin-right: auto;
    margin-top: 56.12px;
    width: 104px;
    height: 24px;
    left: 195px;
    top: 56.12px;

    font-family: Rubik;
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 24px;
    /* identical to box height */
    color: #0B132A;
}
a.link{
    color: #0B132A;
    text-decoration: none;



}
a.link:active{
    color: #0B132A;
}